
.container{
    width: auto;
    margin-bottom: 0;

}
.imgPanel{
    float: right;
    width: 70%;
    background-position: center;
}
.formPanel{
    float: left;
    width: 30%;

}
.img{
    width: 100%;
    min-height: 100%;
}